h1{
font-size: 50px;
text-align: center;
color: #4e0038c7
}
h2{
font-size: 30px;
text-align: center;
color: #4e0038c7
}
p{
font-size: 20px;
text-align: center;
font-family: Helvetica, sans-serif;
}

body {
background-color: #fccef1;
color: #3c3838
}

.images {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.images img {
    vertical-align: middle;
}

